:root {
  --primary-color: rgba(11, 71, 191, 1);
  --secondary-color: rgba(41, 82, 165, 1);
  --lighting-color: rgb(60, 128, 255);
  --darkness-color: rgb(142, 149, 168);
  --font-color: rgb(247, 247, 247);
  --background-image: rgba(242, 117, 46, 1);
  --background: #000000;

  --font-h1: "Anton", sans-serif;
}

* {
    outline: 0;
    margin: 0;
    padding: 0;
  }
  

nav {
  background: var(--background);
  color: var(--font-color);
  display: flex;
  justify-content: space-evenly;
  height: 9vh;
  align-items: center;
}

ul li{
  list-style: none;
  text-decoration: none;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-h1);
}

h1 {
  font-family: var(--font-h1);
}


.nav {
    display: flex;
    margin-left: 10px;
}

.nav a {
    margin-left: 40px;
    margin-right: 20px;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin-left: 10px;
}

#bars {
    display: none;

}

.btn {
    display: none;
}

@media screen and (max-width: 800px) {

    .nav {
        background-color: red;
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    #bars {
        display: block;
        margin-right: 40px;
        font-size: 30px;
    }

    .btn {
        display: inline;
        border: none;
        background-color: transparent;
    }

    i {
        color: white;
    }
    .logo {
        margin-left: 40px;
    }
    
}