/* 
==============
SET PADRÃO
==============
*/
:root {
  --primary-color: rgba(11, 71, 191, 1);
  --secondary-color: rgba(41, 82, 165, 1);
  --lighting-color: rgb(60, 128, 255);
  --darkness-color: rgb(142, 149, 168);
  --font-color: rgb(247, 247, 247);
  --background-image: rgba(242, 117, 46, 1);
  --background: #000000;

  --font-h1: "Anton", sans-serif;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  text-decoration: none;
}

/* 
==================
NAV - ELEMENTO PAI
==================
*/

nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--background);
  color: var(--font-color);
  height: 9vh;
  align-items: center;
  font-family: var(--font-h1);
}

nav .logo {
  font-size: 40px;
  letter-spacing: 2px;
  float: left;
  margin-left: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  float: left;
}

nav li a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 20px;
}

/* 
==================
TOOGLE BAR
==================
*/

button {
  display: none;
  border: transparent;
  background-color: transparent;
  color: white;
}

button #bars {
  font-size: 30px;
}

/* 
==================
NAV-LIST
==================
*/

.nav-list {
  display: none;
}

/* 
==================
RESPONSIVE
==================
*/

@media screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
    text-align: right;
    width: 100%;
    opacity: 0.3;
    background-color: var(--background);
    font-family: var(--font-h1);
  }

  .active {
    display: block;
  }

  .nav-list li {
    margin-bottom: 20px;
  }

  .nav-list a {
    font-size: 30px;
    text-decoration: none;
    color: whitesmoke;
    opacity: 1;
    margin-right: 30px;
    margin-top: 20px;

  }

  button {
    display: inline;
    margin-right: 20px;
  }

  nav ul {
    display: none;
  }
}